@import "tailwindcss";

@theme {
  --font-sans: var(--font-poppins);
  --font-display: var(--font-inter);
  --font-handwriting: var(--font-dancing);
}

:root {
  --background: #050505;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}